form {
  width: 500px;
  margin: 100px auto;
  font-family: "Josefin Sans";
}

label {
  display: flex;
  padding-top: 20px;
}

input {
  display: flex;
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
}

input[type="submit"] {
  justify-content: center;
  background-color: #000;
  width: 104%;
  color: #fff;
  border: none;
}

input[type="submit"]:hover {
  background-color: #333;
}
