form {
  width: 500px;
  margin: 150px auto;
}

label {
  display: block;
  margin-bottom: 10px;
}

input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
}

input[type="submit"] {
  background-color: #000;
  color: #fff;
  border: none;
}

input[type="submit"]:hover {
  background-color: #333;
}
